<div class="col-md-6 offset-md-3">
    <header class="header">
    <h3 align="center" style="border: black; border-width: 10px;"> Add Employee </h3>
    </header>
    <form id="register" [formGroup]="createEmployeeForm" (ngSubmit) = "createNewEmployee()">

          <div class="form-group">
            <label>Employee Id :</label>
            <input type="number" class ="form-control" formControlName = "id"
                name = "No">
        </div>   
    
        <div class="form-group">
            <label> First Name :</label>
            <input type="text" class ="form-control" formControlName = "firstName"
                name = "firstName">
        </div>
    
        <div class="form-group">
            <label> Last Name :</label>
            <input type="text" class ="form-control" formControlName = "lastName"
                 name = "lastName">
        </div>

        <div class="form-group">
            <label> Role :</label>
            <input type="text" class ="form-control" formControlName = "role"
                 name = "Role">
        </div>
    
        <div class="form-group">
            <label> Email Id :</label>
            <input type="text" class ="form-control" formControlName = "emailId"
                 name = "emailId">
        </div>
        <br>
        <button class = "btn btn-outline-info" type ="submit" value="Add Employee">Submit</button>
    
    </form>
    </div> 