
<div class="container">
    <header>
      <h3>Employee Details</h3>
    </header>
  
    <div class="employee-details">
      <article>
        <label>No:</label>{{employee.id}}
      </article>
      <article>
        <label>First Name:</label>{{employee.firstName}}
      </article>
      <article>
        <label>Last Name:</label>{{employee.lastName}}
      </article>
      <article>
        <label>Role:</label>{{employee.role}}
      </article>
      <article>
        <label>Email Id:</label>{{employee.emailId}}
      </article>
    </div>
  </div>
  