<div class="container">
    <h2>Welcome to the Employee Management System</h2>
    <p>Efficiently manage your workforce with our powerful and user-friendly Employee Management System. Streamline your HR processes, keep track of employee details, and enhance productivity.</p>
    
    <div class="features">
      <div class="feature">
        <img src="/assets/elist.png" alt="elist.png">
        <h3>Employee Directory</h3>
        <p>Access a comprehensive directory of all employees with their details and roles.</p>
      </div>
      <div class="feature">
        <img src="/assets/empa.png" alt="Feature 2 Icon" >
        <h3>Add New Employees</h3>
        <p>Easily add new employees to the system, including their personal and job-related information.</p>
      </div>
      <div class="feature">
        <img src="/assets/dele.png" alt="Feature 3 Icon">
        <h3>Update and Delete</h3>
        <p>Edit existing employee details and remove outdated information as needed.</p>
      </div>
    </div>
  </div>
  